{% extends 'base.html.twig' %}

{% block title %}New Course{% endblock %}

{% block body %}
    <h1>Создать новый курс</h1>

    {{ include('course/_form.html.twig') }}

    <a href="{{ path('app_course_index') }}">Вернутся к списку</a>
{% endblock %}
