{% extends 'base.html.twig' %}

{% block title %}New Lesson{% endblock %}

{% block body %}
    <h1>Создание нового урока</h1>

    {{ include('lesson/_form.html.twig') }}
    <a href="{{ path('app_course_show', {'id': lesson.course.id}) }}">{{lesson.course.name}}</a>
{% endblock %}
